{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Main{% endblock %}

{% block menu %}
    <li class="d-inline-block float-right">{% include 'partial/simple_search.html' %}</li>
{% endblock %}

{% block content %}
    <h1 class="text-uppercase text-info amatic-text d-flex justify-content-center font-weight-bold pt-4">Products and
        Services</h1>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    <div class="row row-cols-1 row-cols-md-3">
        {% for product in products %}
            <div class="col-sm-6">
                <div class="card border-info mb-3">
                    <div class="d-flex bd-highlight list-group-item-info">
                        <div class="mr-auto p-2 bd-highlight">
                            <h3><a href="{% url 'webapp:product_view' product.pk %}"
                                   class="text-decoration-none list-group-item-info font-weight-bold">{{ product.name }}</a>
                            </h3>
                            <h4 class="list-group-item-info font-weight-bold"><span
                                    class="text-info font-weight-light mr-1">Category:</span> {{ product.get_category_display }}
                            </h4>
                            {% if product.image %}
                                <img class="avatar" src="{{ product.image.url }}" width="250" height="250"
                                     alt="#">
                            {% else %}
                                <img class="avatar" src="{% static 'img/default.png' %}" width="250" height="250"
                                     alt="product picture">
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body text-info list-group-item-info">
                        <h4 class="card-text mr-auto">about: <span
                                class="pl-2 list-group-item-info font-weight-bold">{{ product.description }}</span>
                        </h4>
                        <h4 class="card-text mr-auto">rating:
                            <span class="pl-2 list-group-item-info font-weight-bold">
                                {% if product.avg_rating == 1 %}
                                    <i class="fas fa-star"></i>
                                {% elif product.avg_rating == 2 %}
                                    <i class="fas fa-star text-dark"></i>
                                    <i class="fas fa-star"></i>
                                {% elif product.avg_rating == 3 %}
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                {% elif product.avg_rating == 4 %}
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                {% elif product.avg_rating == 5 %}
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                {% endif %}
                            </span>
                        </h4>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}
