{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}View{% endblock %}

{% block menu %}
    {% if perms.webapp.change_product %}
        <li><a href="{% url 'webapp:product_update' product.pk %}" class="text-uppercase text-decoration-none">Update</a></li>
    {% endif %}
    {% if perms.webapp.delete_product %}
        <li><a href="{% url 'webapp:product_delete' product.pk %}" class="text-uppercase text-decoration-none">Delete</a></li>
    {% endif %}
    <li><a href="{% url 'webapp:review_create' product.pk %}" class="text-uppercase text-decoration-none">Add Review</a></li>
{% endblock %}

{% block content %}
    <h1 class="d-flex justify-content-center amatic-text text-info font-weight-bold">
        {{ product.name }}</h1>
    {% if product.image %}
        <img class="img-fluid" src="{{ product.image.url }}" width="250" height="250" alt="{{ product.name }}">
    {% else %}
         <img class="img-fluid" src="{% static 'img/default.png' %}" width="250" height="250" alt="product picture">
    {% endif %}
    <p></p>
    <p class="text-success font-weight-bold d-inline-block pr-2">Категория:
    <h5 class="font-weight-bold text-info d-inline-block">{{ product.get_category_display }}</h5>
    </p>
    <p class="text-success font-weight-bold d-inline-block pr-2">Описание:
    <h5 class="font-weight-bold text-info d-inline-block">{{ product.description }}</h5>
    </p>
    <h3 class="amatic-text font-weight-bold text-info">Reviews:</h3>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    {% for review in reviews %}
        <div class="box border-info">
            <div class="d-inline-block float-right font-weight-bold text-danger">
                {% if review.rating == 1 %}
                    <i class="fas fa-star"></i>
                {% elif review.rating == 2 %}
                    <i class="fas fa-star text-dark"></i>
                    <i class="fas fa-star"></i>
                {% elif review.rating == 3 %}
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                {% elif review.rating == 4 %}
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                {% elif review.rating == 5 %}
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                {% endif %}
            </div>
            <h4>
                <a href="{% url 'accounts:detail' review.author_id %}" class="text-decoration-none text-info font-weight-bold">{{ review.author }}</a>
            </h4>
            <div class="pre text-secondary d-flex justify-content-center">{{ review.text }}</div>
            <div class="d-flex justify-content-around">
                {% if perms.webapp.change_review or review.author == request.user %}
                    <p><a href="{% url 'webapp:review_update' review.pk %}" class="btn btn btn-info font-weight-bold">Update</a></p>
                {% endif %}
                {% if perms.webapp.delete_review or review.author == request.user %}
                    <p><a href="{% url 'webapp:review_delete' review.pk %}" class="btn btn btn-info d-inline-block font-weight-bold">Delete</a></p>
                {% endif %}
            </div>
        </div>
    {% empty %}
        <p>Нет отзывов</p>
    {% endfor %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}
